@font-face {
  font-family: BlackMango-Bold;
  src: local("BlackMango-Bold"), url("./fonts/BlackMango-Bold.ttf");
}

@font-face {
  font-family: BlackMango-Medium;
  src: local("BlackMango-Medium"), url("./fonts/BlackMango-Medium.ttf");
}

body {
  background-color: #e7f8ff;
}

.App .container {
  min-width: 350px;
  max-width: 750px;
}

footer {
  font-size: 10px;
  color: #58769e;
  font-family: Gayathri;
  letter-spacing: 1.5px;
  color: #355d8b;
  background: white;
  padding: 20px;
  border-radius: 6px;
  box-shadow: 0 2px 20px rgb(62 219 255 / 15%);
  margin: 20px 0;
}
