@font-face {
  font-family: BlackMango-Bold;
  src: local("BlackMango-Bold"), url("./fonts/BlackMango-Bold.ttf");
}

@font-face {
  font-family: BlackMango-Medium;
  src: local("BlackMango-Medium"), url("./fonts/BlackMango-Medium.ttf");
}

body {
  background-color: #e7f8ff;
}

.App .container {
  min-width: 350px;
  max-width: 600px;
}

footer {
  font-size: 12px;
  color: #58769e;
  font-family: Gayathri;
  color: #355d8b;
}
