@font-face {
  font-family: BlackMangoVariable;
  src: local("BlackMangoVariable"),
    url("./fonts/BlackMangoVariable.ttf") format ("truetype");
}

body {
  background-color: #e7f8ff;
}

.App .container {
  min-width: 350px;
  max-width: 600px;
}

footer {
  font-size: 12px;
  color: #58769e;
  font-family: Gayathri;
  color: #355d8b;
}
