.Dictionary form {
  display: block;
  margin: auto;
  width: 93%;
  font-family: Gayathri;
  letter-spacing: 1px;
}

.Dictionary section {
  background: white;
  padding: 20px;
  border-radius: 6px;
  box-shadow: 0 2px 20px rgb(62 219 255 / 15%);
  margin: 20px 0;
}

.Results h1 {
  font-family: "BlackMangoVariable";
  font-weight: 500;
  text-transform: capitalize;
  color: #52b3e8;
}

.Meaning h2 {
  font-family: "BlackMangoVariable";
  font-weight: 500;
  font-size: 21px;
  text-transform: capitalize;
  color: #52b3e8;
}

.Meaning .definition {
  font-family: Gayathri;
  font-weight: 400;
  letter-spacing: 1px;
  color: #355d8b;
}

.Meaning .example {
  font-family: Gayathri;
  font-style: italic;
  font-size: 14px;
  letter-spacing: 1px;
  color: #000000;
  opacity: 0.6;
}

.Phonetic a {
  text-decoration: none;
  font-size: 40px;
  color: #355d8b;
  transition: all 150ms ease-in-out;
}

.Phonetic a:hover {
  text-decoration: none;
  color: #52b3e8;
}

.Phonetic .text {
  opacity: 0.6;

  letter-spacing: 1px;
}

.Synonyms {
  padding: 0;
  margin: 0;
}

.Synonyms li {
  display: inline;
  list-style: none;
  color: #52b3e8;
  border: 1px solid #52b3e8;
  border-radius: 20px;
  padding: 7px 15px 2px;
  width: 20%;
}
