.Dictionary form {
  display: block;
  margin: auto;
  width: 93%;
  font-family: Gayathri;
  letter-spacing: 1px;
}

.Dictionary section {
  background: white;
  padding: 20px;
  border-radius: 6px;
  box-shadow: 0 2px 20px rgb(62 219 255 / 15%);
  margin: 20px 0;
}

.Results h1 {
  font-family: "BlackMango-Medium";
  font-weight: 500;
  text-transform: capitalize;
  color: #52b3e8;
}

.Meaning h2 {
  font-family: "BlackMango-Medium";
  font-weight: 600;
  font-size: 21px;
  text-transform: capitalize;
  color: #52b3e8;
}

.Meaning .definition {
  font-family: Gayathri;
  font-weight: 400;
  letter-spacing: 1px;
  color: #355d8b;
}

.Meaning .example {
  font-family: Gayathri;
  font-style: italic;
  font-size: 14px;
  letter-spacing: 1px;
  color: #000000;
  opacity: 0.6;
}

.Phonetic .button {
  font-size: 34px;
  color: #355d8b;
  transition: all 150ms ease-in-out;
}

.Phonetic .button:hover {
  text-decoration: none;
  color: #52b3e8;
  cursor: pointer;
}

.Phonetic .text {
  opacity: 0.5;
  letter-spacing: 1px;
}

.Synonyms {
  padding: 0;
  margin: 0;
}

.Synonyms li {
  font-family: Gayathri;
  letter-spacing: 1px;
  font-size: 13px;
  display: inline-block;
  padding-right: 30px;
  opacity: 0.7;
}
